:root {
    --violet: #40295e;
    --blue: #13222e;
    --white: #f5f5f5;
    --black: #1a1a1a;
    --gray: #5a5a5a;
    --yellow: #e3c200;
    --red: #f3464a;
    --green: #12e193;
    --transparent: #00ffffff;
    --line-height: 1.6;
    --font-size-base: 1rem;
}

