:root {
    --violet: #40295e;
    --blue: #13222e;
    --white: #f5f5f5;
    --black: #1a1a1a;
    --gray: #5a5a5a;
    --yellow: #e3c200;
    --red: #f3464a;
    --green: #12e193;
    --transparent: #00ffffff;
    --line-height: 1.6;
    --font-size-base: 1rem;
}

* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: [first-row-line] auto 4fr [last-row-line] /
    [first-column-line] 1fr 4fr [last-column-line];
     grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidebar main"
    "sidebar main"
    "sidebar main"; 
}

aside {
    grid-area: sidebar;
    height: 100vh; /*Play*/
    background-color: var(--violet);
}

header {
    grid-area: header;
    height: 10vh; /* Play */
    background-color: var(--yellow);
}

main {
    grid-area: main;
    background-color: var(--blue);
}